<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';

	/**
	 * @type {unknown}
	 */
	export let id;
	/**
	 * @type {any}
	 */
	export let namech;
	/**
	 * @type {any}
	 */
	export let content;

	export let name;

	// @ts-ignore
	async function addComment({ target }) {
		const formData = new FormData(target);

		const { data, error } = await supabase.from('comments').insert({
			content: formData.get('comment'),
			name: formData.get('names'),
			channel: id
		});
	}

	const comments = readable(null, (set) => {
		supabase
			.from('comments')
			.select('*')
			.filter('channel', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('comments:channel=eq.' + id)
			.on('postgres_changes', { event: '', schema: '' }, (payload) => {
				if (payload.eventType === 'INSERT') {
					// @ts-ignore
					set([...get(comments), payload.new]);
				}
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="pt-16 pl-10">
	<h3 class="bg-white w-40 p-4 text-center text-2xl font-bold text-fuchsia-900">{namech}</h3>
	<h4 class="mt-2 mb-2 ml-8 font-bold text-white">Tulis Pesanmu</h4>
	<div class="h-80 bg-white">
		{#if $comments}
			{#each $comments as { content }}
				<p class="ml-2">{content}</p>
			{:else}
				No comments yet!
			{/each}
		{:else}
			Loading..
		{/if}
	</div>
	<div class="mt-2">
		<form on:submit|preventDefault={addComment}>
			<input class="h-16" placeholder="comment" name="comment" />
			<button class="bg-fuchsia-800 text-white p-2 font-bold">Kirim</button>
		</form>
	</div>
</div>