<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
		const formData = new FormData(e.target);
		const { data, error } = await supabase.from('channels').insert({
			namech: formData.get('namech')
		});
	}

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="flex h-screen bg-gradient-to-r from-purple-500 to-pink-500">
	<div class="w-1/2">
		<h1 class="text-8xl font-bold text-white mt-4 ml-4">Deep Talk!</h1>
		<h2 class="text-md font-semibold text-white w-80 text-center mx-auto mt-6">
			Jangan pernah merasa sepi, yuk bicarakan dengan sahabat terdekatmu
		</h2>
		<h2 class="bg-white text-center font-semibold font-medium mt-4 text-purple-700 ">
			Buat channel
		</h2>
		<div class="mt-4 text-center">
			<form on:submit|preventDefault={addPost}>
				<input class="text-center rounded-xl" placeholder="nama channel" name="namech" /> <br />
				<button class="bg-blue-800 p-1 mt-3 text-white w-20 rounded-sm">Buat</button>
			</form>
		</div>
		<h2 class="bg-white text-center font-semibold font-medium mt-4 text-purple-700 ">
			Lihat Channel Tersedia
		</h2>
		<div class="mt-4 ml-20">
			{#if $channels}
				{#each $channels as post}
					<a
						class="text-md p-2 m-3 rounded-full font-bold bg-fuchsia-200"
						href="/channel/{post.id}"
					>
						{post.namech}
					</a>
				{/each}
			{:else}
				Loading..
			{/if}
		</div>
	</div>
	<div>
		<img
			src="https://media.istockphoto.com/id/1273328619/vector/spiritual-connection-soul-communication.jpg?s=612x612&w=0&k=20&c=JR7bJN19UCA93B5UqMlzL3qyEcEa2ft6bRmMGTSLq54="
			class="h-screen"
		/>
	</div>
</div>