<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { page } from '$app/stores';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	let id = $page.params.id;
	export let namech;

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			.filter('id', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic

		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			});
	});
</script>

<div class="flex h-screen bg-gradient-to-r from-purple-500 to-pink-500">
	<h2 class="text-2xl ml-10 font-bold mt-20 text-white">Lihat channel Deep Talk</h2>
	<br />
	<div>
		{#if $channels}
			{#each $channels as { namech, id }}
				<Post {namech} {id} />
			{/each}
		{:else}
			Loading..
		{/if}
	</div>
</div>